.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 108px);
  justify-content: flex-end;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  @media screen and (max-width: 768px) {
    height: calc(100vh - 170px);
    margin-bottom: 90px;
  }
}

.chatWindow {
  padding: 16px;
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  overflow-x: auto;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
}

.matched {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: var(--font-large);
  padding-top: 8px;
  color: var(--color-black);
}

.center {
  text-align: center;
}

.time {
  font-size: var(--font-small);
}
